.container {
  border: rgba(255, 255, 255, 0.2) solid 1px;
  background-color: #222222;
}

input, textarea {
  background-color: #181a1b;
  color: white;
  border: rgba(255, 255, 255, 0.1) solid 1px;
  outline: #2266aa;
}

input:focus, textarea:focus {
  outline: 1px solid #2266aa;
}


#addd {
  background-color: #222222;
  border: rgba(255, 255, 255, 0.2) solid 1px;
  color: white;
}

#x:hover {
  color: #ff6666;
}

#backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
