.dropdown-content {
  background-color: #222222;
  border: rgba(255, 255, 255, 0.1) solid 1px;
}

.dropdown-content .dropdown-item:hover {
  background: #333536;
}

.menubar-item span:hover,
#ace_settingsmenu {
  background-color: #222222;
}

#display {
  color: white;
}

#ace_settingsmenu * {
  color: #ccccbb;
}

#ace_settingsmenu button {
  background-color: #222222;
}

#ace_settingsmenu select,
#ace_settingsmenu input {
  background-color: #222222;
  border: 1px solid rgba(255, 200, 200, 0.2);
}

div[role="group"] {
  border: 1px solid rgba(255, 200, 200, 0.2);
}

#ace_settingsmenu button[aria-pressed="true"] {
  background: #000000;
}

.done {
  color: #88ff88 !important;
}

.running {
  color: #ffff88 !important;
}

.x:hover {
  color: #ff6666;
}

dialog {
  background-color: #222222;
  border: rgba(255, 255, 255, 0.2) solid 1px;
  color: white;
}
