.dropdown-content {
  background-color: #222222;
  border: rgba(255, 255, 255, 0.1) solid 1px;
}

.dropdown-content .dropdown-item:hover {
  background: #333536;
}

.menubar-item span:hover {
  background-color: #222222;
}

#preview {
  color: white;
}

.running {
  color: #88ff88 !important;
}
