#fslist li:not(:last-child) {
  border-bottom: 1px solid #333311;
}

#fslist li {
  color: #bbaa99;
}

#fslist li:hover {
  color: #ffaa99;
}

dialog {
  background-color: #222222;
  border: rgba(255, 255, 255, 0.2) solid 1px;
  color: white;
}

#target,
#copytarget,
#movetarget,
#createtarget {
  background-color: #181a1b;
  color: white;
  border: rgba(255, 255, 255, 0.1) solid 1px;
  outline: #2266aa;
}

.submitbut {
  color: white;
  background-color: #2266cc;
}

.submitbut:hover {
  background-color: #4488ff;
  cursor: pointer;
}

.submitbut[disabled="disabled"],
.submitbut:disabled {
  background-color: #4488ff;
}

.dangerbut {
  background-color: #bb1111;
  color: white;
}

.dangerbut:hover,
.dangerbut:disabled {
  background-color: #ff0000;
}

.x:hover {
  color: #ff6666;
}

.dropdown-content {
  background-color: #222222;
  border: rgba(255, 255, 255, 0.1) solid 1px;
}

.dropdown-content .dropdown-item:hover {
  background: #333536;
}

.dropdown-item {
  color: white;
}
