body {
  background-color: #181a1b;
}

body,
a {
  color: white;
}

.buttonlike-hover:hover {
  background-color: #222222;
}

.hover-dropshadow:hover {
  box-shadow: 0px 5px 12px -3px #232526;
}

.linklike {
  color: #58a6ff;
}

.ghbutton {
  color: white;
  background-color: #388636;
}

.ghbutton:hover {
  background-color: #489646;
  cursor: pointer;
}
