body {
  background-color: #181a1b;
}

body,
a {
  color: white;
}

.buttonlike-hover:hover {
  background-color: #222222;
}

.hover-dropshadow:hover {
  box-shadow: 0px 5px 12px -3px #232526;
}

.linklike, #display a {
  color: #58a6ff;
}

.ghbutton {
  color: white;
  background-color: #388636;
}

.ghbutton:hover {
  background-color: #489646;
}

.ghbutton[disabled="disabled"],
.ghbutton:disabled {
  background-color: #489646;
}

input, textarea {
  background-color: #181a1b;
  color: white;
  border: rgba(255, 255, 255, 0.1) solid 1px;
  outline: #2266aa;
}

input:focus, textarea:focus {
  outline: 1px solid #2266aa;
}

#backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
