#editor {
  position: absolute;
  height: calc(100% - 90px);
  width: 49%;
  background: transparent;
  font-size: 16px;
  top: 100px;
  overflow: auto;
}

.fullscreen {
  width: 100% !important;
  max-width: 100% !important;
}

.fullscreen#disaplay {
  width: 100% !important;
}

.fullscreen #html-preview {
  margin: 10px !important;
}

#editor .ace_gutter {
  background: transparent;
}

body {
  overflow: hidden;
}

#display {
  position: absolute;
  height: calc(100% - 90px);
  width: 49%;
  right: 0;
  top: 100px;
  overflow: auto;
  padding: 0 !important;
}

#pdf-preview {
  width: 99%;
  height: 99%;
  border: none;
}

.menubar-item {
  display: inline-block;
  position: relative;
}

.menubar-item span {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}

.menubar-item span:hover:not(.running) {
  cursor: pointer;
}

.dropdown-content {
  margin-top: 5px;
  padding: 0px;
  border-radius: 8px;
  position: absolute;
  transform: translateX(-9px);
  z-index: 999;
}

.dropdown-item {
  padding: 14px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  display: block;
  white-space: nowrap;
}

span.running:hover {
  cursor: wait !important;
}

#menubar {
  position: absolute;
  top: 75px;
  margin-left: 30px;
}

#no-preview * {
  font-family: Inter, sans-serif;
  font-weight: 300;
}

#html-preview img {
  max-width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

.ace_autocomplete {
  transform: scale(130%) translate(10%, 10%) !important;
}

#ace_settingsmenu {
  box-shadow: none;
}

select {
  outline: none;
}

#ace_settingsmenu button {
  border: none;
  box-shadow: none;
  border-radius: 3px;
  font-size: 1em;
  transform: translateY(-1px);
  cursor: pointer;
}

#ace_settingsmenu select,
#ace_settingsmenu input {
  border-radius: 3px;
  font-size: 1em;
  padding: 3px;
}

#ace_settingsmenu input[type="number"] {
  appearance: textfield;
}

div[role="group"] {
  padding: 3px;
  display: inline-block;
  border-radius: 3px;
}

.ace_optionsMenuEntry:hover {
  background: none;
}

#toolbarContainer, #scaleSelect, #scaleSelectContainer, #pageNumber, input, #toolbarSidebar {
    background: transparent !important;
    border: none;
}

#viewer {
    filter: invert(64%) contrast(300%) brightness(123%) hue-rotate(180deg)
}

#ace_settingsmenu:parent {
    z-index: 9999;
}

.x {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  text-align: center;
}

.x:hover {
  cursor: pointer;
}

#coutd * {
  font-weight: 350;
  font-family: Inter, sans-serif;
}

#coutd {
  z-index: 10000000;
  width: calc(min(60%, 50em));
  position: absolute;
  top: 50%;
  padding: 20px;
  transform: translateY(-50%);
  border-radius: 8px;
  text-align: center;
  height: calc(max(50%, 30em));
  overflow: scroll;
}

#coutd pre {
    align-self: center;
    text-align: left;
}
