#fslist {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5em;
}

#fslist li {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#fslist li:hover {
  cursor: pointer;
}

#upload {
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  cursor: pointer;
  vertical-align: start;
}

dialog * {
  font-weight: 350;
  font-family: Inter, sans-serif;
}

dialog {
  z-index: 9999;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  border-radius: 8px;
}

#upload-types,
dialog h2 {
  text-align: center;
}

#upload-file {
  margin-right: 20px;
}

#upload-from, #copy-from {
  font-size: 0.7em;
}

#target, #copytarget {
  transition: 100ms;
  width: calc(20em - 20px);
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  font-weight: 350;
  font-family: Inter, sans-serif;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#targetlbl {
  font-size: 0.7em;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998; /* Ensure the backdrop is behind the dialog */
}

#uploadbut,
#copybut {
  transition: 100ms;
  width: calc(20em - 10px);
  display: block;
  border-radius: 8px;
  border: none;
  font-weight: 450;
  font-family: Inter, sans-serif;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

#uploadbut:hover, #copybut:hover {
  cursor: pointer;
}

#uploadbut:disabled:hover, #copybut:disabled:hover {
  cursor: wait;
}

#uploadbut:disabled.not-allowed:hover, #copybut:disabled.not-allowed:hover{
  cursor: not-allowed;
}

#upload-types *:hover {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

img.disabled {
  opacity: 0.5;
}
img.disabled:hover {
  cursor: not-allowed !important;
}

#uploadx, #copyx {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  text-align: center;
}

#uploadx:hover, #copyx:hover {
  cursor: pointer;
}

.ellipsis {
  display: inline;
}

.ellipsis .dots {
  display: none;
}

li:hover .ellipsis .dots {
  display: inline !important;
}

.ellipsis * {
  /* display: inline-block; */
  padding: 0px;
  margin: 0px;
  float: right;
  /* transform: translateY(4px); */
}

.ellipsis * {
  display: inline-block;
}

/* .ellipsis .dots:hover { */
/*   box-shadow: 2px 2px; */
/* } */

.ellipsis .dots {
  height: 15px;
  width: 15px;
  border-radius: 11.5px;
  padding: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

li:hover .dropdown {
  transform: translateX(23px);
}

.dropdown-item {
  padding: 14px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  box-sizing: border-box;
  width: 100%;
  display: block;
  white-space: nowrap;
  float: left;
  border-radius: 8px;
}

.dropdown-item *,
.dropdown-fold {
  white-space: nowrap;
}

.dropdown-content {
  margin-top: 30px;
  padding: 0px;
  border-radius: 8px;
  position: absolute;
  transform: translateX(-9px);
  z-index: 999;
}

.hide {
  display: none;
}

.icon {
  opacity: 50%;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  transform: translateY(2px);
}

.icon-inherit {
  opacity: 20%;
}

.dropdown-item:hover .dropdown {
  display: inline-block;
}

.dropdown-fold {
  transform: translate(-40px, -5px) !important;
}
