#fslist {
  list-style-type: none;
  padding: 0;
}

#fslist li {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#fslist li:hover {
  cursor: pointer;
}

#upload {
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  cursor: pointer;
}

#uploadd * {
  font-weight: 350;
  font-family: Inter, sans-serif;
}

#uploadd {
  z-index: 9999;
  position: fixed;
  top: 20%;
  transform: translateY(-50%);
  border-radius: 8px;
}

#upload-types,
#uploadd h2 {
  text-align: center;
}

#upload-file {
  margin-right: 20px;
}

#upload-from {
  font-size: 0.7em;
}

#target {
  transition: 100ms;
  width: calc(20em - 20px);
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  font-weight: 350;
  font-family: Inter, sans-serif;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#targetlbl {
  font-size: 0.7em;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998; /* Ensure the backdrop is behind the dialog */
}

#uploadbut {
  transition: 100ms;
  width: calc(20em - 10px);
  display: block;
  border-radius: 8px;
  border: none;
  font-weight: 450;
  font-family: Inter, sans-serif;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

#uploadbut:hover {
  cursor: pointer;
}

#uploadbut:disabled:hover {
  cursor: wait;
}

#uploadbut:disabled.not-allowed:hover {
  cursor: not-allowed;
}

#upload-types *:hover {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

img.disabled {
  opacity: 0.5;
}
img.disabled:hover {
  cursor: not-allowed !important;
}

#x {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  text-align: center;
}

#x:hover {
  cursor: pointer;
}
/* #upload { */
/*   display: inline-block; */
/*   padding: 6px 12px; */
/*   cursor: pointer; */
/*   font-size: 14px; */
/*   font-weight: bold; */
/*   border-radius: 4px; */
/*   color: #fff; */
/*   background-color: #337ab7; */
/*   border-color: #2e6da4; */
/*   text-align: right; */
/* } */
/*  */
/* #upload input[type="file"] { */
/*   display: none; */
/* } */
