#display {
  margin: auto;
  width: calc(min(60em, 100vw) - 4em);
  padding: 5px;
}

#display * {
  max-width: 100% !important;
  overflow-wrap: break-word;
}

#display img {
  border-radius: 5px;
}

#display pre {
    overflow: scroll !important;
}

.katex-display {
    overflow: auto !important;
    padding-bottom: 5px;
}
