.container {
  border-radius: 10px;
  margin: auto;
  max-width: min(35em, 70vw);
  margin-top: 10px;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.container:first-child {
  margin-top: 20px;
}

#basic-info {
  margin-top: 50px;
}

#profile-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-top img {
  border-radius: 30%;
  margin-right: 20px;
}

.badge {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.badge-value {
  height: 20px;
  margin-left: 5px;
}

#username {
  font-weight: bold;
  font-size: 23px;
}

#status {
  font-size: 15px;
}

#icons img {
  display: inline;
  height: 15px;
  opacity: 50%;
}

#icons img:hover {
  opacity: 1;
}

#icons img {
  margin: 0;
  margin-left: 5px;
}
