/* .container { */
/*   border-radius: 10px; */
/*   margin: auto; */
/*   max-width: min(35em, 70vw); */
/*   padding-right: 3em; */
/*   padding-left: 3em; */
/*   padding-top: 2em; */
/*   padding-bottom: 2em; */
/* } */
/*  */
#profile-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-top img {
  border-radius: 30%;
  margin-right: 20px;
}

input {
  margin-top: 5px;
  max-width: 80%;
}

.badge {
  align-items: center;
  margin-right: 15px;
}

.badge:hover {
  cursor: grab;
}

#badges {
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  list-style-type: none;
}

.badge img {
  vertical-align: middle;
  width: 20px;
}

.badge:before {
  opacity: 0;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  content: "";
  display: inline-block;
  background-image: url("/static/icons/arrows-up-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -35px;
}

.badge:hover:before {
  opacity: 1;
}

.badge-value {
  height: 20px;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

#username {
  font-weight: bold;
  font-size: 23px;
}

#status {
  font-size: 15px;
}

#details-buts {
  display: block;
  margin-left: 250px;
}

#details-buts img {
  opacity: 50%;
  display: inline-block;
  margin: 0;
  height: 18px;
  width: 18px;
}

#details-buts img:hover {
  opacity: 1;
  cursor: pointer;
}

#bio {
  margin-top: 10px;
}

#list-container li img:first-child {
  opacity: 50%;
  transform: translateY(-3px);
}

#list-container li:hover img:first-child {
  opacity: 1;
}

.plus {
  display: none;
  opacity: 50%;
}

#details-list {
  max-width: 160px;
}

li:hover .plus {
  display: inline;
}

#list-container li:hover {
  cursor: pointer;
}

#list-container li img {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 3px;
}

#list-container ul {
  display: inline-block;
  list-style-type: none;
  min-width: min(160px, 10vw);
}

#list-container {
  display: flex;
  flex-direction: row;
}

.badge img:first-child {
  height: 20px;
}

#pfp-container {
  position: relative;
}

#pfp-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(30%);
  opacity: 0;
}

#pfp-container:hover {
  cursor: pointer;
}

.hover-loading:hover {
  cursor: wait !important;
}

#pfp-container:hover #pfp {
  filter: brightness(50%);
  transition: 0.1s;
}

#pfp-container:hover #pfp-overlay {
  transition: 0.1s;
  opacity: 1;
}

#pfp-container input {
  display: none;
}

#bio-textarea {
  max-width: 100%;
}

#add {
  transform: translateY(3px);
}
