code[class*="language-"],
pre[class*="language-"] {
  /* white-space: nowrap !important; */
  white-space: pre-wrap;
  word-break: break-word !important;
  max-width: 70em;
}

#display {
  background-color: transparent !important;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  overflow-wrap: break-word !important;
}
